<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="user.email" name="email" #email="ngModel" required email></ion-input>
    </ion-item>

    <!--autenticação-->
    <div *ngIf="email.invalid && email.touched">
      <ion-item color="danger" *ngIf="email.errors.required"> 
        Digite seu e-mail
      </ion-item>
      <ion-item color="danger" *ngIf="email.errors.email"> 
        Não é um e-mail valido
      </ion-item>
    </div> 
   <!--autenticação-->

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required minlength="6"></ion-input>
    </ion-item>

    <!--autenticação-->
    <div *ngIf="password.invalid && password.touched">
      <ion-item color="danger" *ngIf="password.errors.required"> 
        Digite sua senha
      </ion-item>
      <ion-item color="danger" *ngIf="password.errors.minlength"> 
        Sua senha deve ter no minimo 6 caracteres
      </ion-item>
    </div> 
   <!--autenticação-->
    

    <!--validar botão-->
    <ion-button type="submit" block color="success" expand="block" (click)="closeModal()" [disabled]="email.invalid || password.invalid">Entrar</ion-button>
  </form>
</ion-content>