<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      Frota
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let car of cars">
    <!-- ativa os dados dos objetos-->
    <ion-item>
      <ion-label>{{car.name}}</ion-label>
      <ion-button fill="outline" slot="end" (click)=presentAlert(car)>Detalhes</ion-button>
    </ion-item>
    <img src="{{car.img}}">
    <ion-card-content align="center">
      {{car.info}}
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="checkmark-outline"></ion-icon>
      <ion-label> {{car.km}}</ion-label>
      <p></p>
      <ion-icon name="checkmark-outline"></ion-icon>
      <ion-label> {{car.desconto}}</ion-label>
    </ion-card-content>
    <ion-card>
      <ion-card-content>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-button button routerLink="/reservation" color="success">
            <ion-icon name="car-sport-outline"></ion-icon>
            <p class="ion-padding-start">Reservar</p>
          </ion-button>
        </ion-fab>
        <ion-label>
          <h1>{{car.valor}}</h1>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>