<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      Reservas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="selectedSegment">
    <ion-segment-button value="current">
      <ion-label><strong>Disponiveis</strong></ion-label>
    </ion-segment-button>

    <ion-segment-button value="previous">
      <ion-label><strong>Reservados</strong></ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let car of filteredCars">
    <ion-item>
      <ion-checkbox slot="start" [(ngModel)]="car.completed" (click)="presentAlert()" (click)="saveData()">
      </ion-checkbox>
      <ion-label>{{car.name}}</ion-label>
      <ion-button fill="outline" slot="end" (click)="detailsAlert(car)">Detalhes</ion-button>
    </ion-item>
    <img src="{{car.img}}">
  </ion-card>
  <ion-fab button routerLink="/store" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="storefront-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>