<ion-app>
  <ion-split-pane when="sm" content-id="main-content">
   

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar color="success">
          <ion-buttons slot="start">
            <ion-menu-toggle>
              <ion-button>
                <ion-icon slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          </ion-buttons>
    <ion-title>
     Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>  <br>
  <img class="animate__animated animate__backInRight" src="assets/img/logo.jpeg">
  <br>  <br>
  <br> 
    <br>
  <ion-row class="ion-justify-content-center">
    <br> 
    <br>
    <ion-col size="auto">
      <ion-button expand="full" fill="outline" color="success" (click)="showModalLogin()" button>Login</ion-button>
      <ion-col></ion-col>
      <br>
      <ion-button expand="full" fill="outline" color="success" (click)="showModalRegister()" >Criar conta</ion-button>
    </ion-col>
  </ion-row>

</ion-content>